<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="ruppinConnectionString" connectionString="Data Source=HILLY\SQLEXPRESS;Initial Catalog=ruppin;Integrated Security=True"
            providerName="System.Data.SqlClient" />-->
    <!--<add name="ruppinConnectionString" connectionString="Data Source=LAPTOP-G29H1RUN\SQLEXPRESS;Initial Catalog=ruppin;Integrated Security=True"/>-->
    <!--<add name="ruppinConnectionString" connectionString="Data Source=RAN-PC\SQLEXPRESS;Initial Catalog=ruppin;Integrated Security=True"/>-->
    <add name="ruppinConnectionString" connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=bgroup51_prod;User ID=bgroup51;Password=bgroup51_69804" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Runtime.Caching, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="Off" />
  <!-- Uncomment if using IIS 7 Classic Mode, IIS 6, or Mono --><!--
		<httpHandlers>
			<add verb="GET" path="*.jsx" type="React.Web.BabelHandlerFactory, React.Web" />
		</httpHandlers>
		--></system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="il.ac.ruppin.proj.WebService" value="http://proj.ruppin.ac.il/bgroup51/test1/bekeilu/ValidateAmuta/WebService.asmx" />
  </appSettings>
<system.webServer>
		<handlers>
			<remove name="Babel" />
			<add name="Babel" verb="GET" path="*.jsx" type="React.Web.BabelHandlerFactory, React.Web" preCondition="integratedMode" />
		</handlers>
	</system.webServer></configuration>