<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="ruppinConnectionString" connectionString="Data Source=HILLY\SQLEXPRESS;Initial Catalog=ruppin;Integrated Security=True"-->
            <!--providerName="System.Data.SqlClient" />-->
    <!--<add name="ruppinConnectionString" connectionString="Data Source=LAPTOP-G29H1RUN\SQLEXPRESS;Initial Catalog=ruppin;Integrated Security=True"/>-->
    <!--<add name="ruppinConnectionString" connectionString="Data Source=RAN-PC\SQLEXPRESS;Initial Catalog=ruppin;Integrated Security=True"/>-->
    <add name="ruppinConnectionString" connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=bgroup51_prod;User ID=bgroup51;Password=bgroup51_69804" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="il.ac.ruppin.proj.WebService" value="http://proj.ruppin.ac.il/bgroup51/test1/bekeilu/ValidateAmuta/WebService.asmx"/>
  </appSettings>
</configuration>