body {
    direction: rtl;
}
#custom-password-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-password-input input{
    border: 0;
    box-shadow: none;
}

#custom-password-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-password-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-password-input .glyphicon-eye-open{
    font-size: 14px;
}

#remember_CB{
    margin-right:2px;
}
